.headerbarstyle{
    display: flex;
    align-items: center;
    padding: 1rem 5rem;
    background-color: transparent;

    & > .menuiconclass{
        display: none;
    }

}

.nav{
    display: flex;
    gap: 6rem;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5rem;
    & > .link{
        position: relative;
        color: white;
        text-decoration: none;
        }
    & > .link:nth-child(1){
        &::after{
        content: '';
        position: absolute;
        bottom: -6px;
        left: 25px;
        right: 0;
        width: 0;
        height: 4px;
        background-color: white;
        transition: all 0.3s ;
            pointer-events: none;
        }
        &:hover::after{
            width: 15px;
            transform: scaleX(5);
        }
    }
    & > .link:nth-child(2){
        &::after{
            content: '';
            position: absolute;
            bottom: -6px;
            left: 23px;
            right: 0;
            width: 0;
            height: 4px;
            background-color: white;
            transition: all 0.3s ;
            pointer-events: none;
        }
        &:hover::after{
            width: 15px;
            transform: scaleX(5);
        }
    }
    & > .link:nth-child(3){
        &::after{
            content: '';
            position: absolute;
            bottom: -6px;
            left: 20px;
            right: 0;
            width: 0;
            height: 4px;
            background-color: white;
            transition: all 0.3s ;
            pointer-events: none;
        }
        &:hover::after{
            width: 12px;
            transform: scaleX(5);
        }
    }

    & > .link:nth-child(4){
        &::after {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 33px;
            right: 0;
            width: 0;
            height: 4px;
            background-color: white;
            transition: all 0.3s;
            pointer-events: none;
        }
        &:hover::after{
            width: 18px;
            transform: scaleX(5);
        }
    }

}
.navbutton{
    background-color: transparent;
    width: 8rem;
    height: 2.5rem;
    border-radius: 25px !important;
    color: white !important;
    font-size: 15px !important;
    font-weight: bold !important;
    cursor: pointer !important;
    transition: all 0.3s !important;
    font-weight: bold !important;

     &:hover{
         transform: scale(1.1);
          background-color: white;
          color: black !important;
     }
}
