.skillslogo {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 0 ;
    gap: 3rem;
    > div > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        > img {
            margin: 0 0 1rem 0;
        width: 50px;
        height: 50px;
        }
    }
}
.skillslogo > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8rem;
    margin: 0 0 0 11rem;

}