*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  text-underline: none;
  link: none;
  list-style: none;


}
body{
  background-color: #d6d6d6ff;
}


