.mobileportfoliocardstyle {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    a > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
            width: 6.5rem;
            height: 8rem;
            margin-bottom: 0.3rem;
            border-radius: 10px;
            transition: all 0.5s;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        &:hover{
            transform: translateY(-1rem);
        }
        &:active{
            transform: translateY(-1rem);

        }

            > img {
                width: 5rem;
                height: 6rem;
                border: 1px solid Transparent;
                border-radius: 10px;

            }
        }

    }

.mobileportfoliocardstyle > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
    font-weight: bold;
    font-size: 12px;
}