.mobileskillslogo{
    display: flex;
    gap: 2rem;
    margin: 2rem 0 0 0;


    > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem ;

        > img{
            width: 2rem;
            height: 2rem;
        }

    }
}